---
---

// basic tools
@import "bourbon/bourbon"
@import "neat/neat"
@import "base/base"

$large-screen: em(860) !default

// navigation bar stylesheet
@import "navbar"

// homepage main presentation section with minor changes
@import "home_banner"

.device-background
  margin: 50px 0 0 0
  +media($large-screen)
    margin: 120px 0 0 0

// homepage cards section with minor changes
@import "home_cards"

//.cards
  //margin: 30px 0px

//.card
  //+media($large-screen)
    //+flex-basis(25em)

// contact form style
@import "contact"

// footer style
@import "footer"

// ip cores
@import "ip_cores"


h3
  text-transform: uppercase
  color: #40526B
  text-align: center
  padding: 70px 0px 30px
