---
---
//$visual-grid: true
//$visual-grid-index: front
//$visual-grid-opacity: 0.5

// basic tools
@import "bourbon/bourbon"
@import "neat/neat"
@import "base/base"

// TODO: fix image path
$landingPageImg: '../img/logo_patent_camera.png'
$base-spacing: 1.5em !default
$base-color: #2989d8
$base-color2:#1E589A
$heading-color:#B35047
$line-color:rgba(102, 71, 41, 0.7)

$mobile: new-breakpoint(max-width 450px)
$tablet: new-breakpoint(max-width 680px min-width 451px)
$desktop: new-breakpoint(min-width 681px)

@import "modal"

body
  margin: 0
  min-width: 320px

  label
    //margin-left: 10px
    font-weight: bold
    color: $base-color

  // very global responsive font size reduction
  p
    @include media(max-width 550px)
      font-size: 0.93em
      line-height: 0.95em * 1.4

  h1,h2,h3,h4,h5
    color: $base-color
    margin: 1.5em auto 1em auto

  .global_page_wrap
    h1,h2,h3,h4,h5
      text-align: center


[class^="icon-"]
  svg
    +size(28px 28px)
    margin: auto auto -6px auto
    path
      fill: $base-color

.nav
  .logo-nav
    svg
      margin: 0.8em 0 0 0.5em
      +size(200px 75px)
      @include media($mobile)
        +size(100px 37px)

  .links
    cursor: pointer
    float: right
    display: inline
    text-transform: uppercase
    margin: 0.4em 0.5em 0 0
    background: white

    a
      margin-left: 10px
      font-weight: bold
      color: $base-color

      &:hover
        color: rgba( $base-color, .7 )

      svg:hover
        path
          fill: rgba( $base-color, .7 )

    a.red
      background-color: red
      color: white
      padding: 0.2em 0.3em 0.1em 0.3em
      border-radius: 3px

      &:hover
        background-color: rgba( red, .7 )


.global_page_wrap

  button
    font-weight: normal

.landingPage
  @include linear-gradient(rgba($base-color2, 0.8), rgba($base-color2, 0.8))
  height: 680px
  margin: 0
  color: white

  button:hover
    background-color: rgba( red, .7 )

  .landingPageImage
    //display: none
    //@include media($desktop)
    background-image: url($landingPageImg)
    background-size: cover
    margin: 3em 1em auto auto
    width: 450px
    height: 411px
    display: block
    float: right
    position: relative
      //z-index: 1
    @include media(max-width 900px)
      width: 40%
      //height: 50%
    @include media(max-width 460px)
      display: none

  .landingPage-inner
    text-align: left
    max-width: 700px
    padding: 2em 0 0 0
    //padding: 3.5em 0.3em
    margin-left: 20px

    h1,h2,h3,h4,h5
      color: white
      margin: 0 0 2em 0
      text-align: left
      @include media(max-width 990px)
        margin: 0 0 0.5em 0


.cards, .outer-full
  @include outer-container
  padding: 0px
  //display: inline-block
  p
    color: #333

  .card-inner
    margin: 1em
    padding: 0.5em
    display: inline-block
    //height: 305px
    background-color: lighten(gainsboro, 10%)
    border-radius: 3px
    border: 1px solid gainsboro
    box-shadow: 0 2px 4px darken(white, 10%)
    //@include media($tablet)
    //  height: 245px
    //@include media($mobile)
    //  height: 285px

  .card
    @include span-columns(6)
    @include omega
    cursor: pointer
    position: relative
    margin: 0
    //display: inline-block

    @include media($tablet)
      @include span-columns(12)
      @include omega

    @include media($mobile)
      @include span-columns(12)
      @include omega

    .card-image
      svg
        +size(80px 80px)
        @include media(max-width 990px)
          +size(50px 50px)

    .card-header
      font-size: 1.3em
      font-weight: bold
      color: $heading-color
      text-transform: uppercase
      line-height: 1.5em
      padding: $base-spacing / 5 $base-spacing / 2
      box-shadow: 0px 0.1875em $line-color
      @include media(max-width 990px)
        font-size: 1em


    .card-copy
      padding: $base-spacing / 2 $base-spacing / 2
      text-align: justify

    &:focus, &:hover
      .card-inner
        background-color: lighten(gainsboro, 5%)



// contact form style
@import "contact"

// foter style
.footer
  max-width: 100%
  font-size: 0.9em
  @include linear-gradient(rgba($base-color2, 0.8), rgba($base-color2, 0.8))
  height: 130px
  color: white
  z-index: 50
  p
    margin: 1em 0 0 1em
  .footer_links
    text-align: right

  svg
    margin: 1em 1em 0 0
    +size(50px 50px)




// ip cores
@import "ip_cores"

// shop section
.ShopSpace
  @include outer-container
  line-height: 1.6
  padding: 0 1em

  h1, h2, h3, h4, h5
    margin: 1em 0 1em 0

  .ShopIntro_half-width1
    @include span-columns(6)
    @include media(max-width 850px)
      @include span-columns(12)
      text-align: center
      ul li
        display: inline-block
        width: 350px
    svg
      +size(50px 50px)

    ul li
      color: $heading-color
      text-transform: uppercase
      line-height: 3em
      font-size: 1em

  .ShopIntro_half-width2
    @include span-columns(6)
    @include omega()
    // hide this section for mobile
    @include media(max-width 850px)
      display: none

  .ShopItem
    @include span-columns(12)
    background-color: lighten($base-color, 70%)
    padding: 0

    .ShopItem-info
      @include span-columns(8)
      text-align: justify
      padding: 1em 0 0 0
      @include media(max-width 645px)
        @include span-columns(12)


    .ShopItem-img
      @include span-columns(4)
      max-width: 300px
      padding: 0 0.5em 0 0
      @include media(max-width 645px)
        @include span-columns(12)

      .price
        font-weight: bold
        font-size: 1.3em
        font-weight: 100
        margin: 0.4em


    .accordion-tabs
      ////////////////////////////////////////////////////
      $base-border-color: gainsboro !default
      $base-border-radius: 3px !default
      $base-background-color: white !default
      $base-spacing: 1.5em !default
      $base-accent-color: #477dca !default
      $base-link-color: $base-accent-color !default
      $dark-gray: #333333 !default
      $light-gray: #dddddd !default
      $medium-screen: em(500) !default
      ////////////////////////////////////////////////////
      $tab-border: 1px solid $base-border-color
      $tab-content-background: lighten($light-gray, 10)
      $tab-active-background: $tab-content-background
      $tab-inactive-color: $base-background-color
      $tab-inactive-hover-color: darken($light-gray, 5)
      $tab-mode: $medium-screen
      +clearfix
      line-height: 1.5
      margin-bottom: $base-spacing
      padding: 0
      +media(max-width $tab-mode)
        border-radius: $base-border-radius
        border: $tab-border

      .tab-header-and-content
        list-style: none
        +media($tab-mode)
          display: inline

        &:first-child .tab-link
          border-top-left-radius: $base-border-radius
          border-top-right-radius: $base-border-radius
          +media(max-width $tab-mode)
            border-top: 0
        &:last-child .tab-link
          +media(max-width $tab-mode)
            border-bottom-left-radius: $base-border-radius
            border-bottom-right-radius: $base-border-radius
      .tab-link
        background-color: $tab-inactive-color
        border-top: $tab-border
        color: $dark-gray
        display: block
        text-transform: uppercase
        padding: $base-spacing / 2 $gutter / 3
        text-decoration: none
        +media($tab-mode)
          +inline-block
          border-top-left-radius: $base-border-radius
          border-top-right-radius: $base-border-radius
          border-top: 0

        &:hover
          color: $base-link-color
        &:focus
          outline: none
        &.is-active
          background-color: $tab-active-background
          +media($tab-mode)
            background-color: $tab-active-background
            border: $tab-border
            border-bottom-color: $tab-active-background
            margin-bottom: -1px
      .tab-content
        background: $tab-content-background
        display: none
        padding: $base-spacing/1.5 $gutter/1.5
        width: 100%
        +media($tab-mode)
          border-bottom-left-radius: $base-border-radius
          border-bottom-right-radius: $base-border-radius
          border-top-right-radius: $base-border-radius
          border: $tab-border
          float: left

// some coloring classes
.red
  svg
    path
      fill: #DF4C37
.green
  svg
    path
      fill: #019D59
.yellow
  svg
    path
      fill: #FFBA0F
.blue
  svg
    path
      fill: #3780F0

.white
  svg
    path
      fill: white

hr
  color: $line-color
  background: $line-color
  width: 100%
  height: 2px

.three-equal-dist
  @include span-columns(4)
  @include omega
  padding: 1.5em 0

  img:focus, &:hover
    background-color: lighten(gainsboro, 5%)

.full-page
  @include span-columns(12)
  @include omega

#PayPalMiniCart
  form
    display: inline

.post
  margin: 4em 0.6em
  h1,h2,h3,h4,h5
    color: yellow
  .post-preview
    margin-top: 5em
  .post-preview-title
    font-size: 1.5em
  .post-preview-meta
    font-style: italic
    opacity: 0.6
  .title
    text-align: center
    color: $base-color
    margin: 1.5em auto 1em auto
  .meta
    text-align: center
    font-style: italic
    opacity: 0.6
    margin: auto auto 4em auto
  .body
