---
layout: default
---
<div class="ShopSpace">
  <h3>Books & Tutorials</h3>
  <p>Free Range Factory puts a lot on energy into generating and mantaining
    high quality and open-source educational material, books and tutorials.</p>
  <p>Here you can find all the information you need to have to get started with your
    own development. In case you are interested in buying some of our books please have
    a look at out <a href="shop.html">on-line shop</a>.</p>
  {% for page in site.pages %}
    {% if page.categories contains 'book' %}
    <div class="ShopItem">
      <hr/>
      <div class="ShopItem-info">
        <h4>{{ page.item-name }}</h4>
        <ul class="accordion-tabs">
          <li class="tab-header-and-content">
            <a href="" class="tab-link is-active">Description</a>
            <div class="tab-content">
              <p>{{ page.description | markdownify }}</p>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="" class="tab-link">Specifications</a>
            <div class="tab-content">
              {{ page.specifications | markdownify }}
            </div>
          </li>
        </ul>
      </div>
      <div class="ShopItem-img">
        <img src="{{ page.img }}" alt="shopItem-img">
        <a href="{{ page.pdf_link }}"><button>Free PDF</button></a>
      </div>
    </div>
    {% endif %}
  {% endfor %}

</div>
