---
layout: default
---
<div class="ShopSpace">
  <h3>Books & Tutorials</h3>
  <p>Free Range Factory puts a lot on energy into generating and mantaining
    high quality and open-source educational material, books and tutorials.</p>
  <p>Here you can find all the information you need to have to get started with your
    own development. In case you are interested in buying some of our books please have
    a look at out <a href="shop.html">on-line shop</a>.</p>
  {% for page in site.pages %}
    {% if page.categories contains 'book' %}
    <div class="ShopItem">
      <hr/>
      <div class="ShopItem-img">
        <img src="{{ page.img }}" alt="shopItem-img">

        {% if page.categories contains 'donation' %}
          <div class="modal">
            <label for="modal-1"><a class="modal-trigger">Download PDF</a></label>
            <input class="modal-state" id="modal-1" type="checkbox"/>
            <div class="modal-fade-screen">
              <div class="modal-inner">
                <div class="modal-close" for="modal-1"></div>
                <h1>Support Our Cause</h1>
                <p class="modal-intro">Help us making new cool stuff.</p>
                <p class="modal-content">We strive for quality. An uncountable amount of hours was invested in
                the creation of this material. We made it free because that is what we want.
                We would love your support to get even further.</p>

                <a href="{{ page.pdf_link }}"><button>Download PDF</button></a>

                <span id="PayPalMiniCart" class="soon-close">
                  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
                    <input type="hidden" name="cmd" value="_cart" />
                    <input type="hidden" name="add" value="1" />
                    <input type="hidden" name="business" value="Z6MSNKU6TZ86Q" />
                    <input type="hidden" name="item_name" value="Spontaneous Donation" />
                    <input type="hidden" name="item_number" value="web_donation" />
                    <input type="hidden" name="quantity" value="1" />
                    <input type="hidden" name="amount" value="{{ page.donation_euros }}" />
                    <input type="hidden" name="currency_code" value="EUR" />
                    <input type="hidden" name="weight_g" value="0">
                    <input type='hidden' name="image_url" value="{{ site.url/img/icons/logo-frf.png }}"/>
                    <input type="submit" name="submit" value="Donate 5€" />
                  </form>
                </span>

              </div>
            </div>
          </div>
        {% else %}
         <label for=""><a href="{{ page.pdf_link }}">Download PDF</a></label>
        {% endif %}

      </div>
      <div class="ShopItem-info">
        <h4>{{ page.item-name }}</h4>
        <ul class="accordion-tabs">
          <li class="tab-header-and-content">
            <a href="" class="tab-link is-active">Description</a>
            <div class="tab-content">
              <p>{{ page.description | markdownify }}</p>
            </div>
          </li>
          <li class="tab-header-and-content">
            <a href="" class="tab-link">Specifications</a>
            <div class="tab-content">
              {{ page.specifications | markdownify }}
            </div>
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
  {% endfor %}

</div>
