---
layout: default
---

<div class="CoursePage">

  <h3>ELECTRONICS VIDEO COURSE</h3>
  <section class="CourselandingPage">
    <div class="float-banner">
      <div class="inner dark-bg">
        <div class="title">Build a Drone Video Course</div>
        <p>Let's learn everything that needs to be known to build and hack your unique flying machine.
        </p>
      </div>
    </div>
    <!-- <div class="play-button">
            <a href="#VideoCourse-Drone-PlayDemo">{% include icons/icon-play.html %}
            </a>
            <p>WATCH INTRO</p>
      </div> -->
  </section>
  <div class="CoursePageTxt">
    <div class=spec-container>
      <div class="course-spec">{% include icons/icon-dollar.html %}&euro;57</div>
      <div class="course-spec">{% include icons/icon-clock.html %}68 min</div>
      <div class="course-spec">{% include icons/icon-play2.html %}on-line</div>
    </div>
    <p> Are you into electronics? Build a drones is a good and practical way to get better at it. This course is designed to explore in great details how to make your own drone.</p>
    <p>Let's step away from what the current consumer market can offer, learn how a drone is made and learn how to build and fly your own designed drone.</p>
    <p>In this course you will learn the mechanics and the electronics needed to build your own unique drone. From a cool light-weight acrobatic quadcopter to a funky tricopter specifically designed for shooting ultra-stable video footage.</p>
    <p>To successfully complete this course you do not need any university degree. A great desire of learning electronics and mechanics is all it's requiered.</p>
  </div>


  <section class="notifyMe blue-bg">
    <div class="inner">
      {% include icons/icon-bell.html %}
      <p>Tons of people have expressed interest and we are working very hard to release this video course as soon as possible.</p>
      <p>Get notified when the course is ready.</p>


      <form action="//focusaway.us13.list-manage.com/subscribe/post?u=f89ef8ed8979f59e173c0f310&amp;id=8c4368d6da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="text" value="" placeholder="your name" name="FNAME" class="" id="mce-FNAME">
          </div>
          <!-- <div class="mc-field-group">
    	<input type="text" value="" placeholder="last name" name="LNAME" class="" id="mce-LNAME">
    </div> -->
          <div class="mc-field-group">
            <input type="email" value="" placeholder="your e-mail" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_f89ef8ed8979f59e173c0f310_8c4368d6da" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="tell me when it's ready" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </div>
      </form>

    </div>
  </section>

<section class="courseDescription">
  <div class="inner">
    <h4>CLASS CURRICULUM</h4>
    <h5>LEVEL A</h5>
    <ul>
      <li>Introduction to drone technology</li>
      <li>Build a quadcopter frame</li>
      <li>Make laser-cut drone parts for fast prototyping</li>
      <li>Design fiber-reinforced 3D printed parts</li>
      <li>Drone fundamental electronics</li>
      <li>ARM-based flight controller</li>
      <li>Brushless motor electronics speed controller</li>
      <li>Radio communication and telemetry</li>
      <li>GPS/GNSS receivers and navigation</li>
      <li>Fly a quadcopter</li>
    </ul>
    <h5>LEVEL B</h5>
    <p>Let's build upon the experience aquired in level A video course to make
    unique and challanging stuff.</p>
    <ul>
      <li>Desing and make your custom-made drone</li>
      <li>Build a wireless communication link</li>
      <li>Embedded ARM C++ programming for a drone</li>
      <li>Measure on-board vibrations in real-time</li>
      <li>Build a vibration-free camera gimbal</li>
      <li>GPS postioning and relative displacement with on-board IMU</li>
      <li>Autonomous flight</li>
      <li>Drone consuption and long-lasting battery</li>
      <li></li>
    </ul>
  </div>
</section>

  <section class="courseAuthor blue-bg">
    <div class="inner">
      <img src="img/fabrizio-tappero.jpg" alt="" />
      <div class="blob">
        <h4>WHO MADE THIS COURSE</h4>
        <p>Fabrizio is a PhD in electrical engineeing from UNSW in Australia, a fairly prolific tech writer and a drone freak.</p>
        <p>After spending ages working in science and in embedded system design, he now enjoys very much leveraging technology to make unique things.</p>
      </div>
    </div>
  </section>

  <section class="notifyMe">
    <div class="inner">
      <h4>BUILD A DRONE VIDEO COURSE</h4> {% include icons/icon-bell.html %}
      <p>Tons of people have expressed interest and we are working very hard to release this video course as soon as possible.</p>
      <p>Get notified when the course is ready.</p>

      <form action="//focusaway.us13.list-manage.com/subscribe/post?u=f89ef8ed8979f59e173c0f310&amp;id=8c4368d6da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="text" value="" placeholder="your name" name="FNAME" class="" id="mce-FNAME">
          </div>
          <!-- <div class="mc-field-group">
    	<input type="text" value="" placeholder="last name" name="LNAME" class="" id="mce-LNAME">
    </div> -->
          <div class="mc-field-group">
            <input type="email" value="" placeholder="your e-mail" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_f89ef8ed8979f59e173c0f310_8c4368d6da" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="tell me when it's ready" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </div>
      </form>



    </div>
  </section>

</div>
