---
layout: default
---
<div class="CoursePage">
  <section class="CourselandingPage">
      <div class="float-banner">
        <div class="inner dark-bg">
          <div class="title">Build Your Drone Video Course</div>
          <p>Learn the technology that governs a drone and how to build and hack all its components to create your unique flying machine.
          </p>
        </div>
      </div>
      <!-- <div class="play-button">
            <a href="#VideoCourse-Drone-PlayDemo">{% include icons/icon-play.html %}
            </a>
            <p>WATCH INTRO</p>
      </div> -->
  </section>
    <div class="CoursePageTxt">
      <p> Drones are cool and very fun to build. It is also true that drones are quite sofisticated to build and fly. This course is designed to explore in great details the contruction of your own drone.</p>
        <p>Instead of buying what the market can offer, learn from the basic how a drone is made and learn how to build and fly your own designed drone.</p>
      <p>A special enfasis is put into learning the technology that governs a drone and how to hack it so that you can desing and build your own unique flying machine.</p>
      <p>to successful complete this course you do not need any prior knowledge. To be a bit handy will cenrtainly help.</p>
    </div>


<section class="notifyMe blue-bg">
  <div class="inner">
    {% include icons/icon-bell.html %}
    <p>Tons of people have expressed interest and we are working very hard to release this video course as soon as possible.</p>
    <p>Get notified when the course is ready.</p>
      <input type="text" name=" yourname" placeholder="your name" value="" onfocus="value=''" onblur="value=''">
      <input type="text" name="your e-mail" placeholder="your e-mail" value="" onfocus="value=''" onblur="value=''">
    <a href="#get-free-pdf"><button>TELL ME WHEN IT'S READY</button></a>
  </div>
</section>

<section class="courseDescription">
<h4>THIS COURSE INCLUDES</h4>
<ul>
  <li class="smicon-li">
    {% include icons/icon-cogs.html %}
    Desing and build your custom-made drone frame from scretch.</li>
    <li class="smicon-li">
      {% include icons/icon-powercord.html %}
      Select and connect all electronics: flight controller, ESC, GPS, brushless motors, radio receiver.</li>
      <li class="smicon-li">
        {% include icons/icon-stats-dots.html %}
        Configure, personalise and program your drone and make it fly the way and for the purpose you want.</li>
        <li class="smicon-li">
          {% include icons/icon-airplane.html %}
          Fly your drone safely without crashing or loosing it.</li>
</ul>
</section>

<section class="courseAuthor blue-bg">
  <div class="inner">
  <img src="img/fabrizio-tappero.jpg" alt="" />
  <div class="blob">
    <h3>WHO MADE THIS COURSE</h3>
    <p>Fabrizio is a PhD in electrical engineeing from UNSW, a fairly prolific tech writer and a drone freak.</p>
    <p>After spending ages working in science and in embedded system design, he now enjoys very much making unique things.</p>
  </div>
</div>
</section>

<section class="notifyMe">
  <div class="inner">
    <h3>BUILD A DRONE VIDEO COURSE</h3>
    {% include icons/icon-bell.html %}
    <p>Tons of people have expressed interest and we are working very hard to release this video course as soon as possible.</p>
    <p>Get notified when the course is ready.</p>
      <input type="text" name=" yourname" placeholder="your name" value="" onfocus="value=''" onblur="value=''">
      <input type="text" name="your e-mail" placeholder="your e-mail" value="" onfocus="value=''" onblur="value=''">
    <a href="#get-free-pdf"><button>TELL ME WHEN IT'S READY</button></a>
  </div>
</section>

</div>
