---
layout: default
---

<div class="CoursePage">

  <h3>EMBEDDED ELECTRONICS VIDEO COURSE</h3>
  <section class="CourselandingPage">
    <div class="float-banner">
      <div class="inner dark-bg">
        <div class="title">Build Your Drone Video Course</div>
        <p>Learn the technology that governs a drone and how to build and hack its components to create your unique flying machine.
        </p>
      </div>
    </div>
    <!-- <div class="play-button">
            <a href="#VideoCourse-Drone-PlayDemo">{% include icons/icon-play.html %}
            </a>
            <p>WATCH INTRO</p>
      </div> -->
  </section>
  <div class="CoursePageTxt">
    <div class=spec-container>
      <div class="course-spec">{% include icons/icon-dollar.html %}&euro;87</div>
      <div class="course-spec">{% include icons/icon-clock.html %}85 min</div>
      <div class="course-spec">{% include icons/icon-play2.html %}on-line</div>
    </div>
    <p> Drones are cool and very fun to build. It is also true that drones are quite sofisticated to build and fly. This course is designed to explore in great details the contruction of your own drone.</p>
    <p>Instead of buying what the market can offer, learn from the basic how a drone is made and learn how to build and fly your own designed drone.</p>
    <p>A special enfasis is put into learning the technology that governs a drone and how to hack it so that you can desing and build your own unique flying machine.</p>
    <p>to successful complete this course you do not need any prior knowledge. To be a bit handy will cenrtainly help.</p>
  </div>


  <section class="notifyMe blue-bg">
    <div class="inner">
      {% include icons/icon-bell.html %}
      <p>Tons of people have expressed interest and we are working very hard to release this video course as soon as possible.</p>
      <p>Get notified when the course is ready.</p>


      <form action="//focusaway.us13.list-manage.com/subscribe/post?u=f89ef8ed8979f59e173c0f310&amp;id=8c4368d6da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="text" value="" placeholder="your name" name="FNAME" class="" id="mce-FNAME">
          </div>
          <!-- <div class="mc-field-group">
    	<input type="text" value="" placeholder="last name" name="LNAME" class="" id="mce-LNAME">
    </div> -->
          <div class="mc-field-group">
            <input type="email" value="" placeholder="your e-mail" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_f89ef8ed8979f59e173c0f310_8c4368d6da" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="tell me when it's ready" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </div>
      </form>

    </div>
  </section>

  <section class="courseDescription">
    <h4>THIS COURSE INCLUDES</h4>
    <ul>
      <li class="smicon-li">
        {% include icons/icon-cogs.html %} Desing and build your custom-made drone frame from scretch. Learn how to design alluminium, 3D printed and glass fiber parts.</li>
      <li class="smicon-li">
        {% include icons/icon-powercord.html %} Learn how the drone electronics work: flight controller, ESC, GPS, brushless motors, radio receiver.</li>
      <li class="smicon-li">
        {% include icons/icon-stats-dots.html %} Configure, program and hack your drone so that it fly the way and for the purpose you want.</li>
      <li class="smicon-li">
        {% include icons/icon-airplane.html %} Fly your drone safely without crashing or loosing it. Learn about acrobatic mode, and GPS-assisted autonomous flight.</li>
    </ul>
  </section>

  <section class="courseAuthor blue-bg">
    <div class="inner">
      <img src="img/fabrizio-tappero.jpg" alt="" />
      <div class="blob">
        <h4>WHO MADE THIS COURSE</h4>
        <p>Fabrizio is a PhD in electrical engineeing from UNSW, a fairly prolific tech writer and a drone freak.</p>
        <p>After spending ages working in science and in embedded system design, he now enjoys very much making unique things.</p>
      </div>
    </div>
  </section>

  <section class="notifyMe">
    <div class="inner">
      <h4>BUILD A DRONE VIDEO COURSE</h4> {% include icons/icon-bell.html %}
      <p>Tons of people have expressed interest and we are working very hard to release this video course as soon as possible.</p>
      <p>Get notified when the course is ready.</p>

      <form action="//focusaway.us13.list-manage.com/subscribe/post?u=f89ef8ed8979f59e173c0f310&amp;id=8c4368d6da" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <input type="text" value="" placeholder="your name" name="FNAME" class="" id="mce-FNAME">
          </div>
          <!-- <div class="mc-field-group">
    	<input type="text" value="" placeholder="last name" name="LNAME" class="" id="mce-LNAME">
    </div> -->
          <div class="mc-field-group">
            <input type="email" value="" placeholder="your e-mail" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_f89ef8ed8979f59e173c0f310_8c4368d6da" tabindex="-1" value="">
          </div>
          <div class="clear">
            <input type="submit" value="tell me when it's ready" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
        </div>
      </form>



    </div>
  </section>

</div>
