---
layout: default
---
<section class="landingPage">
  <div class="innerLP">
  <div class="title dark-bg">
    <span>BUILD EMBEDDED ELECTRONICS</span>
  </div>
  <div class="blob dark-bg">
    <p><i>"by 2025 intelligent machines will do 30% of our jobs"</i></p>
    <p>the World demands for skillful and passionate developers, we want to help you to become one</p>
  </div>
    <a href="#activities"><button>TELL ME MORE</button></a>
        </div>
</section>

<section class="proposing-book">
  <div class="inner">
    <h3 id="activities">BECOME PART OF OUR COMMUNITY</h3>
    <div class="book-list">
      <ul>
        <li class="smicon-li">
          {% include icons/icon-books.html %}
          <span>We spent 2,000h writing what we consider the
            best VHDL programming book and we made it available
            for free.
          </span></li>
        <li class="smicon-li">
          {% include icons/icon-cloud-check.html %}
          <span>We wanted out material to be up to date and error
        free and we put all out source code on github.
      </span></li>
        <li class="smicon-li">
          {% include icons/icon-search.html %}
          <span>We created a free and browsable database of 850
          IP cores of open-source VHDL and Verilog code.
        </span></li>
        <li class="smicon-li">
          {% include icons/icon-youtube.html %}
          <span>We made the most engaging video courses to help
        your learn embedded programming.
      </span></li>
        <li class="smicon-li">
          {% include icons/icon-heart.html %}
          <span>Would you like to be part of of our lovely community? Please do so.
          </span></li>
      </ul>
    </div>
    <div class="book-pic">
      <img src="img/free-range-vhdl-book.png" alt="" />
    </div>
    <div class="email-in">



      <form action="//focusaway.us13.list-manage.com/subscribe/post?u=f89ef8ed8979f59e173c0f310&amp;id=716e9e716c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

      	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f89ef8ed8979f59e173c0f310_716e9e716c" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>


    </div>
  </div>
</section>

<section class="proposing-ipcores blue-bg">
  <div class="inner">
    <h3>OPEN-SOURCE DATABASE</h3>
    <div class="float-banner">
      <div class="inner dark-bg">
        <h3>BROWSE 850 FREE OPEN-SOURCE CORES</h3>
        <p>Download, study and use open-source IP cores
          for your own FPGA embedded system
        </p>
        <a href="cores.html"><button>BROWSE CODE</button></a>
      </div>
    </div>
    <img src="img/ipcores-pic.png" alt=""/>
  </div>
</section>

<section class="proposing-vid">
  <div class="inner white-bg">
    <h3>ON-LINE VIDEO COURSES</h3>
    <div class="float-banner">
      <div class="inner dark-bg">
        <h3>ELECTRONIC VIDEO COURSES</h3>
        <p>Not the typical "how to use a serial port" kind of course but the "let's build a drone" kind of course</p>
        <a href="drone-course.html"><button>WATCH VIDEOS</button></a>
      </div>
    </div>
    <img src="img/video-drone-pic.png" alt=""/>
  </div>
</section>

<section class="mission-statement blue-bg">
  <div class="inner">
    <h3>FREE RANGE FACTORY MISSION</h3>
    <p>Develop modern and effective tools for the open-source
    electronic embedded community.</p>
  </div>
</section>
{% include contact.html %}
