---
layout: default
---
<section class="landingPage">
  <div class="innerLP">
  <div class="title dark-bg">
    <span>BUILD EMBEDDED ELECTRONICS</span>
  </div>
  <div class="blob dark-bg">
    <p><i>"by 2025 intelligent machines will do 30% of our jobs"</i></p>
    <p>The World demands for skillful and passionate developers, we want to help you to become one.
    Join out community and grow your skill using out tools.</p>
  </div>
    <a href="#activities"><button>TELL ME MORE</button></a>
        </div>
</section>

<section class="proposing-book">
  <div class="inner">
    <h3 id="activities">BECOME PART OF OUR COMMUNITY</h3>
    <div class="book-list">
      <ul>
        <li class="smicon-li">
          {% include icons/icon-books.html %}
          <span>We spent 2,000h writing what we consider the
            best VHDL programming book and we made it available
            for free.
          </span></li>
        <li class="smicon-li">
          {% include icons/icon-cloud-check.html %}
          <span>We wanted our material to be up to date and error
        free and we put all out source code on github.
      </span></li>
        <li class="smicon-li">
          {% include icons/icon-search.html %}
          <span>We created a free and browsable database of 850
          IP cores of open-source VHDL and Verilog code.
        </span></li>
        <li class="smicon-li">
          {% include icons/icon-youtube.html %}
          <span>We made the most engaging video courses to help
        your learn embedded programming.
      </span></li>
        <li class="smicon-li">
          {% include icons/icon-heart.html %}
          <span>Would you like to be part of of our lovely community? Please do so.
          </span></li>
      </ul>
    </div>
    <div class="book-pic">
      <img src="img/free-range-vhdl-book.png" alt="" />
    </div>
    <div class="email-in">
      <form action="//focusaway.us13.list-manage.com/subscribe/post?u=f89ef8ed8979f59e173c0f310&amp;id=716e9e716c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
      	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f89ef8ed8979f59e173c0f310_716e9e716c" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="GET THE BOOK NOW" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
    </div>
  </div>
</section>

<section class="proposing-ipcores blue-bg">
  <div class="inner">
    <h4>OPEN-SOURCE DATABASE</h4>
    <div class="float-banner">
      <div class="inner dark-bg">
        <h5>BROWSE 850 FREE IP CORES</h5>
        <p>Download, study and use open-source IP cores
          for your own FPGA embedded system. We brought all this to your fingertips.
        </p>
        <a href="cores.html"><button>BROWSE CODE</button></a>
      </div>
    </div>
    <img src="img/ipcores-pic.png" alt=""/>
  </div>
</section>

<section class="proposing-vid">
  <div class="inner white-bg">
    <div class="intro">
      <h4>ON-LINE VIDEO COURSES</h4>
      <p>This is an exciting and fast-growing section. Here we present a series of video
        courses that are designed to teach you electronics, PCB development and embedded programming.</p>
        <p>The novelty is that we propose to you to learn embedded electronics
          by building cool, sofisticated and practical stuff like for instance a drone.</p>
    </div>
    <div class="float-banner">
      <div class="inner dark-bg">
        <h5>BUILD A DRONE COURSE</h5>
        <p>Not the typical "how to use a serial port" kind of course but the
          full-on "let's build a drone" kind of course. Check it out!</p>
        <a href="drone-course.html"><button>WATCH COURSES</button></a>
      </div>
    </div>
    <img src="img/video-drone-pic.png" alt=""/>
  </div>
</section>

<section class="mission-statement blue-bg">
  <div class="inner">
    <h4>FREE RANGE FACTORY MISSION</h4>
    <p>Develop effective learning tools for people who want to aquire
    relevant embedded electronics skills.</p>
    <p>Modern methods like worldwide on-line videos and direct feedback are our main tools.</p>
  </div>
</section>
{% include contact.html %}
