<h3 id="contact">GOT A QUESTION?</h3>
<section class="e-mail-contact">
  <form method="POST" action="//formspree.io/{{ site.email }}">
    <div class="contact-info-group">
      <label><span>Name</span>
        <input type="text" name="name">
      </label>
      <label><span>Email</span>
        <input type="email" name="_replyto">
      </label>
    </div>
    <label><span>Text</span>
      <textarea name="message"></textarea>
    </label>
    <div class="submit-wrap">
      <input type="submit" value="Send">
    </div>
  </form>
</section>
