<footer class="footer">
		<p>Copyright &#169; {{ site.time | date: '%Y' }} Free Range Factory & Our Authors</p>
		<div class="footer_links">
			<a href="mailto:contact@freerangefactory.org?Subject=Question%20about">
				<i class="icon-nav yellow">{% include icons/icon-mail.html %}</i></a>
			<a href="http://www.linkedin.com/in/fabriziotappero">
				<i class="icon-nav green">{% include icons/icon-linkedin.html %}</i></a>
			<a href="http://plus.google.com/107967937093458188059/po">
				<i class="icon-nav white">{% include icons/icon-googleplus.html %}</i></a>
			<a href="{{side.url}}/talk.html">
				<i class="icon-nav red">{% include icons/icon-talk.html %}</i></a>
			<a href="https://github.com/fabriziotappero">
				<i class="icon-nav yellow">{% include icons/icon-github.html %}</i></a>
		</div>
</footer>
